:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --secondary-white-color: #f5f4fa;
  --common-title-color: #212121;
  --header-border-color: #ececec;
  --works-border-color: #eeeeee;
  --footer-color: #2f303a;
  --svg-social-color: #afb1b8;
  --svg-footer-color: rgba(255, 255, 255, 0.1);
  --footer-hyperlink-color: rgba(255, 255, 255, 0.6);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.social__list, .clients__list, .command__list, .peculiarities_list, .samples__list {
  display: flex;
  justify-content: center;
}

.contacts__list, .header__nav, .footer__container {
  display: flex;
  align-items: center;
}

.social__link, .modal-form__checkbox-label, .contacts__item, .subscribe-form__button, .clients__link, .peculiarities__icon-container, .works-nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: var(--primary-font-size);
  font-weight: 400;
  line-height: 24px/var(--primary-font-size);
  letter-spacing: 0.03em;
  font-style: normal;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.icon {
  fill: currentColor;
}

.button {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  letter-spacing: inherit;
  transition: color var(--transition), background-color var(--transition);
}

.button--primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button--primary:hover, .button--primary:focus {
  color: var(--common-title-color);
  background-color: var(--secondary-white-color);
}

.button--secondary {
  color: var(--common-title-color);
  background-color: var(--secondary-white-color);
}

.button--secondary:hover, .button--secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.link {
  text-decoration: none;
  color: inherit;
  letter-spacing: inherit;
  transition: color var(--transition), background-color var(--transition), border var(--transition);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.link--current {
  color: var(--accent-color);
}

.link--current:hover, .link--current:focus {
  color: inherit;
}

.address__link {
  color: var(--footer-hyperlink-color);
  letter-spacing: inherit;
}

.logo__link {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
  color: var(--accent-color);
  display: flex;
}

.logo__accent {
  color: var(--primary-black-color);
}

.logo__accent--footer {
  color: var(--primary-white-color);
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social__link:hover, .social__link:focus {
  background: var(--accent-color);
  color: var(--primary-white-color);
}

.link-social--current {
  background: var(--accent-color);
  color: var(--primary-white-color);
}

.link-social--current:hover, .link-social--current:focus {
  background: var(--svg-footer-color);
  color: var(--svg-social-color);
}

.command__social__link {
  color: var(--svg-social-color);
}

.footer__social__link {
  background-color: var(--svg-footer-color);
  color: var(--primary-white-color);
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity var(--transition);
}

.modal__backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: visibility var(--transition), opacity var(--transition);
}

.modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 581px;
  min-width: 528px;
  padding: 40px;
  background-color: var(--primary-white-color);
  transform: translate(-50%, -50%) scale(1);
}

.modal__backdrop.is-hidden .modal__container {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal__close-button {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 8px;
  right: 8px;
  color: var(--primary-black-color);
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color var(--transition);
}

.modal__close-button:hover, .modal__close-button:focus {
  color: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__head {
  color: var(--common-title-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form__label {
  font-size: var(--modal-form__label);
  font-weight: 400;
  line-height: 14px/var(--modal-form__label);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form__wrapper {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition);
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__icon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: var(--common-title-color);
  transition: color var(--transition);
}

.modal-form__input:focus + .modal-form__icon {
  color: var(--accent-color);
}

.modal-form__message {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--transition);
}

.modal-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__checkbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.subscribe-form__check-icon {
  color: var(--primary-white-color);
  border: 1px solid var(--common-title-color);
  cursor: pointer;
  border-radius: 2px;
  transition: color var(--transition), border-color var(--transition), background-color var(--transition), box-shadow var(--transition);
}

.modal-form__checkbox:checked + .subscribe-form__check-icon {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form__checkbox:focus:not(:checked) + .subscribe-form__check-icon {
  color: transparent;
  border-color: var(--accent-color);
  box-shadow: inset 0 0 0 2px var(--accent-color);
}

.modal-form__policy {
  color: var(--accent-color);
}

.modal-form__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  padding: 10px 55px;
  margin: 0 auto;
  color: var(--primary-white-color);
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.site-nav__list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.site-nav__item {
  position: relative;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  color: var(--common-title-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current:hover, .site-nav__link--current:focus {
  color: var(--common-title-color);
}

.site-nav__link--current::after {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transition: background-color var(--transition);
}

.site-nav__link--current:hover::after, .site-nav__link--current:focus::after {
  background-color: var(--common-title-color);
}

.contacts__list {
  margin-left: auto;
}

.contacts__text {
  margin-left: 10px;
}

.contacts__item + .contacts__item {
  margin-left: 30px;
}

.contacts__link {
  color: var(--primary-text-color);
}

.contacts__link--current {
  color: var(--accent-color);
}

.contacts__link--current:hover, .contacts__link--current:focus {
  color: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  margin-bottom: 50px;
  color: var(--common-title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.section {
  background-color: var(--primary-white-color);
  margin-top: 0;
  padding: 94px 0;
}

.section__item + .section__item {
  margin-left: 30px;
}

.address {
  color: var(--primary-white-color);
  font-style: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.subscribe-form {
  margin-left: 93px;
}

.subscribe-form__input {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px 16px;
  width: 358px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--footer-color);
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__wrapper {
  display: flex;
}

.subscribe-form__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 0.19;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  margin-left: 12px;
  padding: 10px 28px;
  width: 200px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscribe-form__icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--header-border-color);
}

.header__link, .site-nav__link, .contacts__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.clients__link {
  width: 170px;
  height: 92px;
  color: var(--svg-social-color);
  border: 1px solid var(--svg-social-color);
  border-radius: 4px;
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.command__section {
  background-color: var(--secondary-white-color);
}

.command__item {
  width: 270px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command__description-container {
  margin: 30px auto;
}

.command__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.command__description--name {
  margin-bottom: 10px;
  color: var(--common-title-color);
  font-weight: 500;
}

.command__description--role {
  margin-bottom: 16px;
}

.hero__section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: var(--hero-bg-color);
  text-align: center;
  background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url("../images/hero_img.jpg");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__title {
  margin: 0 auto 30px auto;
  width: 696px;
  color: var(--primary-white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.peculiarities__section {
  padding-bottom: 0;
}

.peculiarities__item {
  width: 270px;
}

.peculiarities__icon-container {
  background-color: var(--secondary-white-color);
  height: 120px;
  margin-bottom: 30px;
}

.peculiarities__icon {
  fill: var(--common-title-color);
}

.peculiarities__title {
  margin-bottom: 10px;
  color: var(--common-title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.peculiarities__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.79;
  letter-spacing: 0.03em;
}

.samples__item {
  width: 370px;
  position: relative;
}

.samples__description-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
}

.samples__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.works-nav {
  margin-bottom: 50px;
}

.works-nav__item + .works-nav__item {
  margin-left: 8px;
}

.works-nav__button {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.works-nav__button:hover, .works-nav__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.works-sample_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.works-sample {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: 370px;
  transition: box-shadow var(--transition);
}

.works-sample:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-sample__thumb {
  position: relative;
  overflow: hidden;
}

.works-sample__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity var(--transition), transform var(--transition);
}

.works-sample:hover .works-sample__overlay {
  opacity: 1;
  transform: translateY(0);
}

.works-sample__overlay-text {
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.works-sample__description-container {
  padding: 20px 24px;
  border: 1px solid var(--works-border-color);
  border-top: 0;
}

.works-sample__name {
  margin-bottom: 4px;
  color: var(--common-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-sample__type {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--footer-color);
  padding: 60px 0;
}

.footer__container {
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer__social-block {
  margin-left: 85px;
}
/*# sourceMappingURL=main.css.map */