/* Common */

:root {
  --primary-text-color: #757575;
  --accent-color: #2196F3;
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --secondary-white-color:#F5F4FA;
  --common-title-color: #212121;
  --footer-color: #2F303A;
  --footer-hyperlink-color:rgba(255, 255, 255, 0.6);

  --logo-font-size:26px;
  --primary-font-size:14px;
  --first-title-size:44px;
  --secondary-title-size:36px;
  --title-line-height:1.17;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: var(--primary-font-size);
  line-height: 1.71;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* Link */

.link {
  text-decoration: none;
}

.link.current {
  color: var(--accent-color);
}

/* Button */

.button {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.primary:hover {
  color: var(--common-title-color);
  background-color: var(--secondary-white-color);
}

.button.secondary {
  color: var(--common-title-color);
  background-color: var(--secondary-white-color);
}

.button.secondary:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Logo */

.logo {
  font-size: var(--logo-font-size);
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.19;
}

.logo.link {
  color: var(--accent-color);
}

.logo>span {
  color: var(--primary-black-color);
}

/* Site nav */

.site-nav .link,
.contacts .link{
  font-weight: 500;
  line-height: 1.14;
}

.site-nav .link{
  color: var(--common-title-color);
}

.contacts .link{
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

.header-nav .link:hover,.header-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero{
  background-color: #E5E5E5;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: var(--first-title-size);
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button{
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* Section */

.title{
  color: var(--common-title-color);

  font-weight: 700;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  text-transform: uppercase;
}

.section-title {
  color: var(--common-title-color);

  font-weight: 700;
  font-size: var(--secondary-title-size);
  line-height: 1.17;
  text-align: center;
}

/* Command */

.command{
  background-color: var(--secondary-white-color);
}

.command li{
  background-color: var(--primary-white-color);
}

.command .name{
  color: var(--common-title-color);

  font-weight: 500;
}

.command .name, .command .role{
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Footer */

.footer{
  background-color: var(--footer-color);
}

.address{
  color: var(--primary-white-color);
}

.link-footer{
  color: var(--footer-hyperlink-color);
}

.link-footer:hover,.link-footer:focus {
  color: var(--accent-color);
}
.logo-footer>span{
  color: var(--primary-white-color);
}

/* Portfolio */

/* Works */

.works{
  background-color: var(--primary-white-color);
}

.works .name {
  color: var(--common-title-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works .type{
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}