/* Common */

:root {
  --primary-text-color: #757575;
  --accent-color: #2196F3;
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --hero-bg-color: #2F303A;
  --secondary-white-color:#F5F4FA;
  --common-title-color: #212121;
  --header-border-color: #ECECEC;
  --works-border-color: #EEEEEE;
  --footer-color: #2F303A;
  --svg-social-color:#AFB1B8;
  --svg-footer-color:rgba(255, 255, 255, 0.1);
  --footer-hyperlink-color:rgba(255, 255, 255, 0.6);

  --logo-font-size:26px;
  --primary-font-size:14px;
  --portfolio-font-size:16px;
  --first-title-size:44px;
  --secondary-title-size:36px;
  --portfolio-title-size:18px;
  --title-line-height:1.17;
}

body {
  background-color: #E5E5E5;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: var(--primary-font-size);
  line-height: 1.71;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.g-centered{
  display: flex;
  justify-content: center;
}

.v-centered{
  display: flex;
  align-items: center;
}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.img{
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
  color: inherit;
  letter-spacing: inherit;
}

.link:hover, .link:focus{
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}

.link.current:hover, .link.current:focus{
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.icon{
  fill: currentColor;
}

/* Button */

.button {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  letter-spacing: inherit;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.primary:hover, .button.primary:focus {
  color: var(--common-title-color);
  background-color: var(--secondary-white-color);
}

.button.secondary {
  color: var(--common-title-color);
  background-color: var(--secondary-white-color);
}

.button.secondary:hover, .button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Logo */

.logo {
  font-size: var(--logo-font-size);
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo.link {
  color: var(--accent-color);
}

.logo>span {
  color: var(--primary-black-color);
}

/* Site nav */

.header{
  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--header-border-color);
}

.site-nav{
  margin-left: 93px;
}

.site-nav li + li {
  margin-left: 50px;
}

.site-nav-link,
.contacts-link{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-link{
  color: var(--common-title-color);
}

.site-nav-link.current:hover, .site-nav-link.current:focus {
  color: var(--common-title-color);
}

.contacts{
  margin-left: auto;
}

.contacts li + li{
  margin-left: 30px;
}

.contacts span{
  margin-left: 10px;
}

.contacts-link{
  color: var(--primary-text-color);
}


/* Section */

.section-title {
  margin-bottom: 50px;

  color: var(--common-title-color);
  font-weight: 700;
  font-size: var(--secondary-title-size);
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section{
  background-color: var(--primary-white-color);
  margin-top: 0;
  padding: 94px 0;
}

.section .item+.item{
  margin-left: 30px;
}


/* Hero */

.hero{
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: var(--hero-bg-color);
  text-align: center;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url("../images/hero_img.jpg");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-title {
  margin: 0 auto 30px auto;
  width: 696px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: var(--first-title-size);
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button{
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Peculiarities */

.peculiarities{
  padding-bottom: 0;
}

.peculiarities-item{
  width: 270px;
}

.peculiarities-title{
  margin-bottom: 10px;

  color: var(--common-title-color);
  font-weight: 700;
  font-size: var(--primary-font-size);
  line-height: 1.17;
  text-transform: uppercase;
}

.peculiarities-item p{
  padding: 3px 0;
}

.peculiarities-icon-container{
  background-color: var(--secondary-white-color);
  height: 120px;
  margin-bottom: 30px;
}

.peculiarities-icon-container>.icon{
  fill: var(--common-title-color);
}


/* Samples */

.samples-item{
  width: 370px;
}

/* Command */

.command{
  background-color: var(--secondary-white-color);
}

.command-item{
  width: 270px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-description-container{
  margin: 30px auto;
}

.command-name{
  margin-bottom: 10px;
  color: var(--common-title-color);
  font-weight: 500;
}

.command-role{
margin-bottom: 16px;
}

.command-name, .command-role{
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Clients */

.clients-item{
  width: 170px;
  height: 92px;
  color: var(--svg-social-color);
  border: 1px solid var(--svg-social-color);
  border-radius: 4px;
}

.clients-item:hover{
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

/* Footer */

.footer{
  background-color: var(--footer-color);
  padding: 60px 0;
}

.footer .container{
  align-items: baseline ;
}

.address{
  color: var(--primary-white-color);
  font-style: inherit;
}

.address-item:not(:last-child) {  
  margin-bottom: 9px;
}

.link-footer{
  color: var(--footer-hyperlink-color);
  letter-spacing: inherit;
}

.link-footer:hover,.link-footer:focus,
.link-footer-primary:hover,.link-footer-primary:focus {
  color: var(--accent-color);
}

.logo-footer{
  display: block;
  margin-bottom: 20px;
}

.logo-footer>span{
  color: var(--primary-white-color);
}

.social-block{
  margin-left: 85px;
}

.footer .link-social{
  background-color: var(--svg-footer-color);
  color: var(--primary-white-color);
}

/* Portfolio */

/* Works */

.works-nav{
  margin-bottom: 50px;
}

.works-nav-item + .works-nav-item {
  margin-left: 8px;
}

.works-nav .button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: var(--portfolio-font-size);
  line-height: 1.62;
  border-radius: 4px;
}

.works-nav .button:hover,.works-nav .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.works-list{
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.works-sample{
  margin: 15px;
  width: 370px;
}

.works-sample:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-description-container{
  padding: 20px 24px;
  border:1px solid var(--works-border-color);
  border-top: 0;
}

.works-name {
  margin-bottom: 4px;
  color: var(--common-title-color);
  font-weight: 700;
  font-size: var(--portfolio-title-size);
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-type{
  color: var(--primary-text-color);
  font-size: var(--portfolio-font-size);
  line-height: 1.88;
  letter-spacing: inherit;
}

/* Social */

.title-social{
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.item-social+.item-social{
  margin-left: 10px;
}

.link-social{
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.command .link-social{
  color: var(--svg-social-color);
}

.link-social:hover, .link-social:focus{
  background: var(--accent-color);
  color: var(--primary-white-color);
}

.link-social.current{
  background: var(--accent-color);
  color: var(--primary-white-color);
}

.link-social.current:hover, .link-social.current:focus{
  background: var(--svg-footer-color);
  color: var(--svg-social-color);
}