/* Common */

:root {
  --primary-text-color: #757575;
  --accent-color: #2196F3;
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --secondary-white-color:#F5F4FA;
  --common-title-color: #212121;
  --footer-color: #2F303A;
  --footer-hyperlink-color:rgba(255, 255, 255, 0.6);
  --svg-footer-color:rgba(255, 255, 255, 0.1);
  --svg-social-color:#AFB1B8;

  --logo-font-size:26px;
  --primary-font-size:14px;
  --first-title-size:44px;
  --secondary-title-size:36px;
  --title-line-height:1.17;
}

body {
  background-color: #E5E5E5;
  color: var(--primary-text-color);

  width: 1600px;
  font-family: Roboto, sans-serif;
  font-size: var(--primary-font-size);
  line-height: 1.71;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
}

header {
  background-color: var(--primary-white-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.container.no-padding{
  padding:0;
}


.link {
  text-decoration: none;
}

p{
  padding: 0;
  margin: 0;
}

.icon{
  fill: currentColor;
}

.centered{
  display: flex;
  align-items: center;
  justify-content:center;
}


/* Button */

.button {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.primary:hover {
  color: var(--common-title-color);
  background-color: var(--secondary-white-color);
}

.button.secondary {
  color: var(--common-title-color);
  background-color: var(--secondary-white-color);
}

.button.secondary:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Logo */

.logo {
  font-size: var(--logo-font-size);
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.19;
}

.logo.link {
  color: var(--accent-color);
}

.logo>span {
  color: var(--primary-black-color);
}

/* Site nav */

.header-nav,.site-nav,.contacts{
  display: flex;
  align-items: center;
}

.site-nav{
  margin-left: 93px;
}

.contacts{
  margin-left: auto;
}

.contacts .link{
  margin-left: 10px;
}

.contacts li:hover{
  color: var(--accent-color);
}

.contacts li.current {
  color: var(--accent-color);
}

.contacts li.current:hover {
  color: var(--primary-text-color);
}

.site-nav .link,
.contacts .link{
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 500;
  line-height: 1.14;
}

.contacts li + li, .site-nav li + li {
  margin-left: 12px;
}


.site-nav .link{
  color: var(--common-title-color);
}

.contacts .link{
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

.header-nav .link:hover,.header-nav .link:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}

.site-nav .link.current:hover {
  color: var(--common-title-color);
}

.contacts .link.current:hover {
  color: var(--primary-text-color);
}

/* Section */

.title{
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--common-title-color);
  font-weight: 700;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  text-transform: uppercase;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--common-title-color);
  font-weight: 700;
  font-size: var(--secondary-title-size);
  line-height: 1.17;
  text-align: center;
}

.section{
  background-color: var(--primary-white-color);
  margin-top: 0;
  padding: 94px 0;
}

.section .list {
  display: flex;
  justify-content: center;
}

.section .list .item{
  width: 270px;
}

.section .item+.item{
  margin-left: 30px;
}


/* Hero */

.hero{
  padding: 200px 452px;
  background-color: var(--footer-color);
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(0, 0, 0, 0.25)
  ),
  url("../images/hero_img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: var(--first-title-size);
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button{
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Peculiarities */

.peculiarities-list .item{
  background-color: var(--secondary-white-color);
  height: 120px;
  margin-bottom: 30px;
}

.peculiarities-list .icon{
  fill: var(--common-title-color);
}


/* Samples */

.samples .list .item{
  width: 370px;
}

/* Command */

.command{
  background-color: var(--secondary-white-color);
}

.command .item{
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command .name{
  color: var(--common-title-color);
  font-weight: 500;
}

.command .name, .command .role{
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Clients */

.clients-list .item{
  height: 170px;
  height: 92px;
  border: 1px solid var(--svg-social-color);
}

.clients-list .item:hover{
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

/* Footer */

.footer{
  background-color: var(--footer-color);
}

.footer .container{
  display: flex;
  align-items: center;
}

.address-block{
  margin: 60px 0;
}

.address{
  color: var(--primary-white-color);
  font-style: inherit;
}

.link-footer{
  color: var(--footer-hyperlink-color);
}

.link-footer:hover,.link-footer:focus {
  color: var(--accent-color);
}

.logo-footer{
  display: block;
  margin-bottom: 20px;
}

.logo-footer>span{
  color: var(--primary-white-color);
}

.social-block{
  margin: 72px 0 100px 70px;
}

/* Portfolio */

/* Works */

.works, .works-nav{
  background-color: var(--primary-white-color);
}

.works-nav-list{
  display:flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-bottom: 34px;
}

.works-nav-item {
  align-self: flex-start;
}

.works-nav-item + .works-nav-item {
  margin-left: 8px;
}

.works-nav .button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: var(--portfolio-primary-font-size);
  line-height: 1.63;
}

.works-nav .button:hover,.works-nav .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.works-list{
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.works-list>.sample{
  margin: 15px;
  width: 370px;
  border-bottom: 1px solid var(--primary-text-color);
}

.works-list>.sample:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.description-container{
  padding: 20px 24px;
}

.description-container>.name {
  margin: 0;
  color: var(--common-title-color);
  font-weight: 700;
  font-size: var(--portfolio-title-size);
  line-height: 2;
  letter-spacing: 0.06em;
}

.description-container>.type{
  color: var(--primary-text-color);
  font-size: var(--portfolio-font-size);
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* Social */

.list-social{
  display: flex;
}

.title-social{
  font-size: (--primary-font-size);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.item-social+.item-social{
  margin-left: 10px;
}

.item-social{
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.footer .item-social{
  background-color: var(--svg-footer-color);
  color: var(--primary-white-color);
}

.command .item-social{
  color: var(--svg-social-color);
}

.item-social:hover{
  background: var(--accent-color);
  color: var(--primary-white-color);
}

.item-social.current{
  background: var(--accent-color);
}

.item-social.current:hover{
  background: var(--svg-footer-color);
}