//UTILS
@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/placeholders";
@import "./utils/mixins";

//BASE
@import "./base/common";

//COMPONENTS
@import "./components/button";
@import "./components/link";
@import "./components/logo";
@import "./components/social";

//modal
@import "./components/modal/modal__backdrop";
@import "./components/modal/modal__container";
@import "./components/modal/modal__close-button";
@import "./components/modal/modal-form";

//header
@import "./components/header/site-nav";
@import "./components/header/contacts";

//main
@import "./components/container";
@import "./components/section";

//footer
@import "./components/footer/address";
@import "./components/footer/subscribe-form";

//LAYOUT
@import "./layout/header";

@import "./layout/main/clients";
@import "./layout/main/command";
@import "./layout/main/hero";
@import "./layout/main/peculiarities";
@import "./layout/main/samples";

@import "./layout/portfolio";

@import "./layout/footer";
