.subscribe-form {
	@include _desktop {
		margin-left: 93px;
	}
}

.subscribe-form__input {
	@include font(16px, 20px);

	@include _phone {
		margin-bottom: 30px;
		width: 100%;
	}
	@include _tablet {
		margin-bottom: 20px;
		width: 450px;
	}
	@include _desktop {
		width: 358px;
	}
	padding: 15px 16px;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;

	background-color: var(--footer-color);
	color: rgba(255, 255, 255, 0.6);

	&::placeholder {
		color: rgba(255, 255, 255, 0.6);
	}
}

.subscribe-form__wrapper {
	@include flex_centeredXY();
	flex-direction: column;

	@include _desktop {
		display: flex;
		flex-direction: row;
	}
}

.subscribe-form__button {
	@include flex_centeredXY();
	@include font(16px, 30px, 700, 0.06em);
	padding: 10px 28px;
	width: 200px;

	color: var(--primary-white-color);

	@include _desktop {
		margin-left: 12px;
	}

	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.subscribe-form__icon {
	margin-left: 10px;
	fill: var(--primary-white-color);
}
