.hero__section {
	max-width: 1600px;

	@include _phone {
		padding: 118px 0;
	}
	@include _tablet {
		padding: 118px 0;
	}

	@include _desktop {
		padding: 200px 0;
	}
	background-color: var(--hero-bg-color);
	text-align: center;
	background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)),
		url("../images/hero_img.jpg");
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__title {
	margin: 0 auto 30px auto;

	@include _phone {
		@include font(26px, 42px, 900, 0.06em);
		width: 100%;
	}
	@include _phone_gap {
		width: 360px;
	}
	@include _tablet {
		@include font(26px, 42px, 900, 0.06em);
	}
	@include _desktop {
		width: 696px;
		@include font(44px, 60px, 900, 0.06em);
	}

	color: var(--primary-white-color);
	text-align: center;
	text-transform: uppercase;
}

.hero__button {
	padding: 10px 32px;
	@include font(16px, 30px, 700, 0.06em);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
