.peculiarities__section {
	padding-bottom: 0;
}

.peculiarities_list {
	@include _desktop {
		@include flex_centeredXY(true, false);
	}
}

.peculiarities__item {
	@include _phone {
	}

	@include _tablet {
	}

	@include _desktop {
		width: 270px;
	}
}

.peculiarities__icon-container {
	@include flex_centeredXY();
	height: 120px;
	margin-bottom: 30px;

	background-color: var(--secondary-white-color);
}

.peculiarities__icon {
	fill: var(--common-title-color);
}

.peculiarities__title {
	margin-bottom: 10px;

	color: var(--common-title-color);
	@include font(14px, 16px, 700);
	text-transform: uppercase;

	text-align: center;
}

.peculiarities__text {
	@include font(14px, 25px);
}
