.peculiarities__section {
	padding-bottom: 0;
}

.peculiarities_list {
	@extend %g-centered;
}

.peculiarities__item {
	width: 270px;
}

.peculiarities__icon-container {
	@extend %centered;

	background-color: var(--secondary-white-color);
	height: 120px;
	margin-bottom: 30px;
}

.peculiarities__icon {
	fill: var(--common-title-color);
}

.peculiarities__title {
	margin-bottom: 10px;

	color: var(--common-title-color);
	@include font(14px, 16px, 700);
	text-transform: uppercase;
}

.peculiarities__text {
	@include font(14px, 25px);
}
