.peculiarities__section {
	@include _desktop {
		padding-bottom: 0;
	}
}

.peculiarities_list {
	@include _tablet {
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
		margin-bottom: -30px;
	}
	@include _desktop {
		@include flex_centeredXY(true, false);
	}
}

.peculiarities__item {
	@include _tablet {
		flex-basis: calc(100% / 2 - 30px);
		margin-left: 30px;
		margin-bottom: 30px;
	}
	@include _desktop {
		width: 270px;
	}
}

.peculiarities__icon-container {
	@include flex_centeredXY();
	height: 120px;
	margin-bottom: 30px;

	background-color: var(--secondary-white-color);
}

.peculiarities__icon {
	fill: var(--common-title-color);
}

.peculiarities__title {
	margin-bottom: 10px;

	color: var(--common-title-color);
	@include font(14px, 16px, 700);
	text-transform: uppercase;

	@include _phone {
		text-align: center;
	}

	@include _tablet_and_desktop {
		text-align: left;
	}
}

.peculiarities__text {
	@include font(14px, 25px);
}
