.samples__section {
	display: none;
	@include _desktop {
		display: block;
	}
}

.samples__list {
	@include _desktop {
		@include flex_centeredXY(true, false);
	}
}

.samples__item {
	width: 370px;
	position: relative;
}

.samples__description-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 27px 0;
	text-align: center;
	background: rgba(47, 48, 58, 0.8);
}

.samples__title {
	@include font(14px, 16px, 700);
	text-transform: uppercase;
	color: var(--primary-white-color);
}
