.header-menu__button {
	display: block;
	margin-left: auto;
	z-index: 3;
	background-color: transparent;

	&:hover,
	&:focus {
		color: var(--accent-color);
	}

	@include _tablet_gap {
		display: none;
	}
}

.header-menu__button .header-menu__close {
	display: none;
}

.header-menu__button.is-open .header-menu__close {
	display: block;
}

.header-menu__button.is-open .header-menu__open {
	display: none;
}

.header-menu__container {
	background-color: var(--primary-white-color);
	width: 100vw;

	@include _phone {
		position: absolute;
		z-index: 2;
		padding: 48px 40px;
		display: none;

		height: 100vh;
		top: 0;
		left: 0;

		overflow: scroll;
		&.is-open {
			display: block;
		}
	}
	@include _desktop {
		@include flex_centeredXY(true, false);
	}
}
