.header-menu__container {
	background-color: var(--primary-white-color);
	width: 100vw;
	@include _phone {
		padding: 48px 40px;

		height: 100%;
		position: fixed;
		top: 0;
		left: 0;

		display: flex;
		flex-direction: column;

		opacity: 0;
		visibility: hidden;
		pointer-events: none;

		transition: visibility var(--transition), opacity var(--transition);

		overflow-y: scroll;

		&.is-open {
			z-index: 2;
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
	}
	@include _tablet {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	@include _desktop {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.header-menu__button {
	position: absolute;
	top: 10px;
	right: 15px;
	height: 40px;
	width: 40px;

	line-height: 0;
	display: none;
	margin-left: auto;
	z-index: 3;
	background-color: transparent;

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
	@include _phone {
		display: block;
	}
}

.header-menu__button .header-menu__close {
	display: none;
}

.header-menu__button.is-open .header-menu__close {
	display: block;
}

.header-menu__button.is-open .header-menu__open {
	display: none;
}
