.modal__container {
	position: absolute;
	top: 50%;
	left: 50%;

	min-height: 581px;
	min-width: 528px;
	padding: 40px;

	background-color: var(--primary-white-color);

	transform: translate(-50%, -50%) scale(1);

	.modal__backdrop.is-hidden & {
		transform: translate(-50%, -50%) scale(1.1);
	}
}
