.footer {
	background-color: var(--footer-color);
	padding: 60px 0;
}

.footer__container {
	@extend %v-centered;
	align-items: baseline;
}

.footer__logo {
	margin-bottom: 20px;
}

.footer__title {
	@include font(14px, 16px, 700);

	text-transform: uppercase;
	color: var(--primary-white-color);
	margin-bottom: 20px;
}

.footer__social-block {
	margin-left: 85px;
}
