.footer {
	background-color: var(--footer-color);
	padding: 60px 0;
}

.footer__container {
	text-align: center;
	@include _tablet {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	@include _desktop {
		@include flex_centeredXY(true, false);
		align-items: baseline;
		text-align: left;
	}
}

.address-block {
	margin-bottom: 60px;
	@include _desktop {
		margin-bottom: 0;
	}
}

.footer__logo {
	display: block;
	margin-bottom: 20px;
}

.footer__title {
	@include font(14px, 16px, 700);

	text-transform: uppercase;
	color: var(--primary-white-color);
	margin-bottom: 20px;
}

.footer__social-block {
	@include _phone {
		margin-bottom: 60px;
	}
	@include _tablet {
		margin-left: 165px;
	}
	@include _desktop {
		margin-left: 85px;
	}
}
