.header {
	background-color: var(--primary-white-color);
	border-bottom: 1px solid var(--header-border-color);
	position: relative;
}

.header__container {
	width: 100%;
}

.header__nav {
	@include flex_centeredXY(false, true);
}

.header-social__list {
	display: none;
	@include _phone {
		@include flex_centeredXY(false, true);
		flex-wrap: wrap;
	}
	margin-top: -10px;
}

.header-social__item {
	@include font(18px, 22px, 500, 0.02em);
	color: rgba(33, 150, 243, 1);
	margin-top: 10px;
}

.header-social__item:not(:last-child)::after {
	content: "";
	margin: 0 10px;
	border-left: 1px solid rgba(33, 33, 33, 0.2);
}
