.header {
	background-color: var(--primary-white-color);
	border-bottom: 1px solid var(--header-border-color);
}

.header__nav {
	@extend %v-centered;
}

.header__link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	@include font(14px, 16px, 500, 0.02em);
}
