.social__list {
	@include flex_centeredXY(true, false);
}

.social__item + .social__item {
	margin-left: 10px;
}

.social__link {
	@include flex_centeredXY();

	width: 44px;
	height: 44px;
	border-radius: 50%;

	color: var(--svg-social-color);
	&:hover,
	&:focus {
		background: var(--accent-color);
		color: var(--primary-white-color);
	}
}

.link-social--current {
	background: var(--accent-color);
	color: var(--primary-white-color);

	&:hover,
	&:focus {
		background: var(--svg-footer-color);
		color: var(--svg-social-color);
	}
}

.command__social__link {
	color: var(--svg-social-color);
}

.footer__social__link {
	background-color: var(--svg-footer-color);
	color: var(--primary-white-color);
}
